body{
    margin:0;
}
.modal-body{
    background-color: #002E56;
    height:auto;
    padding:0;
}
.modal-dialog {
    max-width: 80%;
}
.flexy {
    display: flex;
    width:auto;
    flex-wrap:wrap;
    width:100%;
    justify-content: center;
}
.modal-h3{
    color:#E6E6E6;
    font-weight: bolder;
    font-family: 'Poppins';
}
#modal-error{
    color:#FF4A4A;
    font-family: "Poppins";
    display: none;
}
#modal-success{
    color:#fff;
    font-family: "Poppins";
    display: none;
}
#email-image{
    display: none;
}
.modal-p{
    text-align: center;
    color:#3A5987;
    font-size: 0.85rem;
    font-family: 'Poppins';
}
.flexy-left {
width: 50%;
/* height:200px; */
padding:5%;
background-color: #fff;
}
input {
    font-family: 'Poppins';
}
.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}
input[type="file"] {
    color:#fff;
    font-size: 0.9rem;
}
.input-label{
    color:#fff;
    text-align: left;
    font-family: 'Poppins';
}
.input-submit{
    background-color: #FF4A4A;
    border:0;
    color:#fff;
    font-family: 'Poppins';
}
.flexy-right {
width: 50%;
text-align: center;
padding:5%;
height:200px;
}
#fixed-bottom{
    position: fixed;
    bottom: 5vh;
    right: 10%;
    justify-content: flex-end;
    width:100%;
    display: flex;
}
#wait_gif{
    display: none;
    margin:auto;
}
.call2action{
     
    width: 15%;
    height: 50px;
    background: #FF4A4A;
    text-align: center;
    font-family: 'Montserrat Alternates';
    color:#ffffff!important;
    font-weight: 700;
    z-index: 4000;
    margin-left: 20px;
    border-radius: 25px;
    font-size: 0.85rem;
    line-height: 30px;
    
}
.bg-roca{
    background-color: #002e56!important;
    /* background-color: #BDD7FF50!important; */
    padding:0 10%;
    width: 100%;
}
.img-nav{
    width: 150%;
    height: auto;
}
.nav-link{
    font-size: 0.85rem!important;
}
#navbarNav{
    justify-content: flex-end!important;
    font-family: 'Montserrat';
}
.nav-color {
    color: #ffffff!important;
}
.footer {
    width: 100%;
    background-color: #002E56;
    color: white;
    padding-left: 10%;
    padding-right: 10%;
    position: absolute;
}
.footer-mobile {
    display: none;
}
#footer-inner{
    /* width:90%; */
    display: flex;
    justify-content: space-between;
}

.social-media{
    display: flex;
    justify-content: space-around;
}
.footer-one, .footer-one-left, .footer-one-center{
    width:33%;
}
.footer-one{
    text-align: right;
}
.footer-one-center{
    text-align: center;
}
.footer-one > a, .footer-one > p{
    font-family: 'Montserrat Alternates';
    color:#ffffff!important;
}
.lang{
    display: flex;
}
.lang-mobile{
    display: none;
}
.img-nav-mobile{
    display: flex;
}
.mini {
    font-family: 'Montserrat Alternates';
    color:#ffffff!important;
}
/* .carousel-inner img {
    width: 100%;
    height: 100%;
} */
#demo{
    background: url('../img/bg-carosal.png');
    height:658px;
    background-repeat: no-repeat;
    background-position: center;
    padding-left:10%;
    padding-top:2%;
    padding-right:10%;
    padding-bottom:15%;
}
.demo-words{
    width:50%;
}
.carousel-indicators {
    bottom: 20vh!important;
}
#book{
    width:70%;
    line-height: 2rem;
    font-family: 'Montserrat Alternates';
    color:#ffffff!important;
}
#calendar{
    width:20%;
}

.call2meeting{
    width: 100%;
    height: 50px;
    background: #A0616A;
    border-radius: 25px;
    justify-content: center;
    display: flex;
}
.call2action:hover{
    background: #BDD7FF;
}
.carousel-indicators > li{
    width: 15px!important;
    height: 15px!important;
    border-radius: 50%!important;
    background-color: #FFB8B8;
}
.carousel-indicators > li:active{
    background-color: #FF4A4A;
}
.demo-inner{
    display: flex;  
}
.carousel-inner{
    width:100%;
}
.demo-img{
    width: 50%;
    margin: auto;
    text-align: center;
    padding-bottom:2rem;
}
.text-top{
    font-size:1.8rem;
    color:#ffffff;
    font-family: 'Montserrat';
}
.text-main{
    font-size:4.5rem;
    color:#FFB8B8;
    font-family: 'Poppins';
    font-weight: bolder;
}
.mobile, .mobile2{
    display: none;
}

/* .carousel-item>.desktop{
    display: flex;
} */
.desktop2{
    display: block;
}
.flexy{
    display: flex;
    justify-content: space-around;
}
#about-us, #services, #team, #contact-us{
    padding:4% 10% 5% 10%;
}
#services{
    background-color: rgba(255, 74, 74, 0.16);
}
#testimonials{
    background-color: #3A5987;
    padding: 2% 10% 4% 10%;
}
.p-red{
    font-family: Poppins;
    font-size: 1.2rem;
    line-height: 1.5rem;
    color: #A0616A!important;
}
.right, .left, .lefty, .righty{
    width:45%;
}
.right-team-top, .left-team-bottom{
    width:65%;
}
.left-team-top, .right-team-bottom{
    width:25%;
}
.name{
    font-family: Poppins;
    font-weight: bold;
    font-size: 0.9rem;
    line-height: 1.5rem;
    text-align: center;
    color: #3A5987;
}
.post{
    font-family: Poppins;
    font-weight: bold;
    font-size: 0.9rem;
    line-height: 1.5rem;
    text-align: center;
    color: #FF6584;
    margin-top:-1.5rem;
}
.right-team-top > p{
    font-family: Poppins;
    font-size: 1rem;
    line-height: 1.5rem;
    color: #A0616A;
}
.left-team-bottom > p{
    font-family: Poppins;
    font-size: 1rem;
    line-height: 1.5rem;
    color: #3A5987;
}
.right > p{
    font-family: Poppins;
    font-size: 1.2rem;
    line-height: 1.5rem;
    color: #3A5987;
}
.right > h3{
    font-family: Poppins;
    font-size: 2.5rem;
    color: #A0616A;
}
#team > h3, #contact-us >h3{
    font-family: Poppins;
    font-size: 2.5rem;
    color: #A0616A;
    text-align: center;
}
.lefty > p{
    font-family: Poppins;
    font-size: 1.2rem;
    line-height: 1.5rem;
    color: #A0616A;
}
#testimonials >h3{
    font-family: Poppins;
    font-size: 2.5rem;
    color: #BDD7FF;
    text-align: center;
}
.lefty > h3{
    font-family: Poppins;
    font-size: 2.5rem;
    color: #3A5987;
}
.left > h3{
    display: none;
}
.redy-line{
    width: 30%;
    height: 5px;
    margin-right:0.3rem;
    display: inline-block;
    margin-bottom:0.7rem;
    background-color: #A0616A;
}
.red-line{
    width: 10%;
    height: 5px;
    margin-right:0.3rem;
    display: inline-block;
    margin-bottom:0.7rem;
    background-color: #A0616A;
}
#blue-line{
    width: 30%;
    height: 5px;
    display: inline-block;
    margin-bottom:0.7rem;
    background-color: #3A5987;
}
.bluy-line{
    width: 10%;
    height: 5px;
    display: inline-block;
    margin-bottom:0.7rem;
    background-color: #BDD7FF;
}
.img-service{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}
.fab{
    color: #FFB8B8; 
}
.img-testimony {
    max-width: 70%;
    height: auto;
}
.right-team-bottom >img{
    display: block;
}
.left-team-bottom >img{
    display: none;
}
#contact-line{
    width: 3px; 
    height: 250px; 
    background-color: #8F1F1F; 
    margin-right:20px;
}
.flex-container {
    display: flex;
    width:auto;
    flex-wrap:wrap;
    width:50%;
    margin-left: 25%;
    justify-content: center;
  }
  
  .flex-container > div {
    text-align: center;
  }
.p-inner{
    color: #3A5987;
    font-size: 1rem;
    font-family: 'Poppins';
    font-weight: bold;
}
.img-service:hover{
    background-color: #3A5987;
    cursor: pointer;
    border-radius: 50%;
}
.modal-close{
    text-align: right;
    margin-right: 10px;
}
.list-group-item{
    font-family: 'Poppins';
    /* font-weight: bold; */
    color: #3A5987;
}
@media only screen and (max-width: 800px) {
    .flexy-left {
        display: none;
    }
    .flexy-right {
        width: 100%;
    }
    .modal-content {
        height:70vh;
    }
    .modal-dialog {
        max-width: 100%;
    }
    .flex-container {
        display: flex;
        width:auto;
        width:70%;
        margin-left: 15%;
        justify-content: center;
      }
      
      .flex-container > div {
        text-align: center;
      }
    .p-inner{
        color: #3A5987;
        font-size: 1rem;
        font-family: 'Poppins';
        font-weight: bold;
    }
    .demo-words {
        width: 100%;
        text-align: center;
    }
    .right > h3{
        display: none;
    }
    .img-service{
        margin-left:0;
    }
    #blue-line{
        display: none;
    }
    .lefty > h3{
        font-size: 1.8rem;
        color: #3A5987;
        text-align: center;
    }
    .left > h3{
        font-family: Poppins;
        font-size: 30px;
        color: #A0616A;
        display: block;
        text-align: center;
    }
    
    #services{
        padding-bottom:4rem;
    }
    .carousel-indicators {
        bottom: 1vh!important;
    }
    #demo {
        height: 65vh;
    }
    .right > p, .lefty > p, .right-team-top > p, .left-team-bottom > p,.lefty > div > p{
        font-size: 16px;
        line-height: 24px;
        margin-top:0.7rem;
    }
   
    .right, .left, .righty, .lefty, .left-team-top, .right-team-top, .left-team-bottom, .right-team-bottom{
        width:100%;
    }
    .flexy{
        display: block;
        text-align:center;
    }
    #fixed-bottom{
        right: 0;
        bottom:0;
        justify-content: space-between;
        width:100%;
        display: flex;
        /* padding-right: 7%;
        padding-left: 7%; */
    }
    #join-us{
        display: none;
    }
    .call2action{
     
        width: 100%;
        height: 50px;
        background: #FF4A4A;
        text-align: center;
        font-family: 'Poppins';
        color:#ffffff!important;
        font-weight: 700;
        z-index: 4000;
        margin-left: 0;
        border-radius: 0;
        font-size: 0.85rem;
        line-height: 30px;
        
    }
    .call2meeting{
        width: 100%;
        height: 50px;
        background: #A0616A;
        border-radius: 25px;
        justify-content: center;
        display: flex;
    }
    .mtt{margin-top:4rem;}
    #book{
        width:70%;
        font-size: 0.75rem;
        line-height: 2rem;
        font-family: 'Poppins';
        color:#ffffff!important;
    }
    .demo-img {
        width: 20%;
        margin: auto;
        padding-bottom: 2rem;
    }
    .text-top{
        font-size:1rem;
        margin: 0;
    }
    .text-main{
        font-size:2.5rem;
        margin: 0;
    }
    .mobile, .mobile2{
        display: block;
        margin: auto;
    }
.demo-inner, .desktop2{
        display: none;
    }
    .img-nav{
        max-width: 80%;
        height: auto;
    }
    .navbar-brand{
        width:70%!important;
    }
    .img-nav-mobile{
        max-width: 80%;
        height: auto;
    }
    .lang{
        display: none;
    }
    .lang-mobile{
        width:100%;
        display: flex;
        justify-content: flex-end;
        margin-bottom:0.7rem;
    }
    .footer {
        display: none;
    }
    .footer-mobile {
        position: relative;
        left: 0;
        bottom: 0;
        display: block;
        width: 100%;
        background-color: #002E56;
        color: white;
        text-align: center;
        padding-top:2rem;
        padding-bottom: 2rem;
    }
    .social-media{
        display: block;
    }
    .mob-spacing{
        margin-right: 1rem;
    }
    .left-team-bottom > .name2{
        font-family: Poppins;
        font-weight: bold;
        font-size: 0.9rem;
    line-height: 1.5rem;
        text-align: center;
        color: #3A5987;
    }
    .left-team-bottom> .post2{
        font-family: Poppins;
        font-weight: bold;
        font-size: 0.9rem;
    line-height: 1.5rem;
        text-align: center;
        color: #FF6584;
        margin-top:-0.5rem;
    }
    .right-team-bottom >img, .left-team-bottom >.desktop,.right-team-bottom > .desktop2, .left-team-top > .desktop{
        display: none;
    }
    .left-team-bottom >img{
        display: block;
    }
    .right-team-bottom >.mobile{
        color: #3A5987;
        font-size: 16px;
        line-height: 24px;
        margin-top:0.7rem;
        font-family: 'Poppins';
    }
    .red-line, .redy-line{
        display: none;
    }
    .bluy-line{
        display: none;
    }
    #testimonials >h3{
        font-family: Poppins;
        font-size: 1.6rem;
    }
    /* #team > h3{
        font-family: Poppins;
        font-size: 30px;
        color: #A0616A;
    } */
    #team > h3, #contact-us > h3{
        font-family: Poppins;
        font-size: 1.8rem;
        color: #A0616A;
    }
}



/* testimonial slide css */

.your-class > div{
    width: 100%;
}
.blue-card{
    width: 98%;
    border-radius: 15px;
    background: #BED8FF;
    padding: 2rem;
    height:350px;
    /* overflow-y: auto; */

}
.white-card{
    width: 98%;
    border-radius: 15px;
    background: #ffffFF;
    padding: 2rem;
    height:350px;
    /* overflow-y: auto; */

}
.justify >p{
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 0.9rem;
    line-height: 1.2rem;
    color: #3A5987;
    margin-top:1.5rem;
    margin-left:1rem;
}
q{
    font-family:'Poppins';
    font-weight: 300;
    font-size: 0.9rem;
    line-height: 1.2rem;
}
.justify{
    display: flex;
    justify-content: flex-start;
}

.mySlides {display: none;}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}




/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: transparent;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

/* .active {
  background-color: #717171;
} */

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 9.5s;
  animation-name: fade;
  animation-duration: 9.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 820px) {
    q{
        font-family:'Poppins';
        font-weight: 300;
        font-size: 14px;
        line-height: 20px;
    }
    
    .white-card{
        padding: 1rem;
        width:100%;
    }
    .blue-card{
        padding: 1rem;
        width:100%;
    
    }
    .justify{
        padding:10%;
    }
    .contact{
        padding:0;
    }
    .p-red{
        font-size: 16px;
        line-height: 24px;
        margin-top: 0.7rem;
    }
    #contact-line{
        display: none;
    }
    
    .footer-one {
        text-align: center;
    }
    .footer-one-mobile{
        text-align: center;
        width: 100%;
    }
}
/* @media only screen and (min-width: 420px)and (max-width: 800px) {
    #demo {
        height: 480px;
    }
    .img-fluid {
        max-width: 50%;
        height: auto;
    }
} */
@media only screen and (min-width: 801px)and (max-width: 1024px) {
    .img-nav {
        width: 100%;
        height: auto;
    }
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 0.5rem;
        padding-left: 0!important;
    }
    /* #demo {
        height: 70vh!important;
    } */
    .carousel-indicators {
        bottom: 0!important;
    }
    .right, .left, .lefty, .righty {
        width: 45%;
        
    }
    .img-bash {
        margin-top:7vh;
    }
    .text-main {
        font-size: 3rem;
    }
    .text-top {
        font-size: 1.6rem;
    }
    #book {
        font-size: 0.8rem;
    }
}
@media only screen and (min-width: 1025px)and (max-width: 1085px) {
    #demo {
        height: 70vh!important;
    }
    .carousel-indicators {
        bottom: 0!important;
    }
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 0.5rem;
        padding-left: 0!important;
    }
    .img-nav {
        width: 90%;
        height: auto;
    }
    .right, .left, .lefty, .righty {
        width: 45%;
    }
    .img-bash {
        margin-top:7vh;
    }
    .text-main {
        font-size: 3rem;
    }
    .text-top {
        font-size: 1.6rem;
    }
}
@media only screen and (max-width: 420px) {
    .demo-img {
        width: 100%;
        margin: auto;
        padding-bottom: 2rem;
    }
    #demo {
        height: 80vh;
        /* margin-top: -3vh; */
    }
    .text-top {
        font-size: 1rem;
        margin: 0;
        margin-top: -3vh;
    }
}
@media only screen and (min-width: 710px)and (max-width: 830px) {
    #demo {
        background: url(../img/bg-carosal.png);
        height: 350px;
        background-repeat: no-repeat;
        background-position: center;
        padding-left: 10%;
        padding-top: 2%;
        padding-right: 10%;
        padding-bottom: 15%;
    }
    .flex-container {
        display: flex;
        width: auto;
        flex-wrap: wrap;
        width: 70%;
        margin-left: 15%;
        justify-content: center;
    }
}